{% extends 'profile.html' %}

{% block profile_content %}
    <section class="page-section" id="borrow">
        <div class="container">
            <h2 class="text-center mt-0">Пополнить баланс</h2>
            <hr class="divider my-4"/>
            <form id="money-form" name="money-form" action="{% url 'top_up' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_money">Введите сумму:</label>
                    <input type="range" class="custom-range" name="money-range" style="color: black" min="0" max="10000" step="1"
                           onchange="updateTextInput(this.value);"  oninput="updateTextInput(this.value)" value="5000" id="id-money-range">
                    <input type="number" id="id_money" name="money" min="0" max="10000" onchange="updateRangeInput(this.value)" oninput="updateRangeInput(this.value)" required="" value="5000">
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="themeBtn4">Пополнить</button>
                </div>
            </form>
        </div>
    </section>

    <script>
        function updateTextInput(val) {
            document.getElementById('id_money').value = val;
        }

        function updateRangeInput(val) {
            document.getElementById('id_money_range').value = val;
        }
    </script>
{% endblock %}