{% extends "base.html" %}
{% block title %}{{ user.first_name }} {{ user.last_name }} {% endblock %}
{% block content %}

    <section class="page-section" id="borrow">
        <div class="container">
            <h2 class="text-center mt-0">Занять деньги</h2>
            <hr class="divider my-4"/>
            <form id="money-form" name="money-form" action="{% url 'get_money' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_money">Введите сумму:</label>
                    <input type="range" class="custom-range" name="money-range" min="0" max="{{ limit }}" step="1"
                           onchange="updateTextInput(this.value);"  oninput="updateTextInput(this.value)" value="{{ limit }}" id="id-money-range">
                    <input type="number" id="id_money" name="money" required="" value="{{ limit }}">
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Занять</button>
                </div>
            </form>
        </div>
    </section>

    <script>
        function updateTextInput(val) {
            document.getElementById('id_money').value = val;
        }
    </script>
{% endblock %}