{% extends "base.html" %}
{% block title %}{{ user.first_name }} {{ user.last_name }} {% endblock %}
{% block content %}
    <section class="page-section">
        <div class="container">
            <div class="card mb-5">
                <div class="card-header">
                    <h4>{{ user.username }}</h4>
                </div>
                <div class="card-body bg-dark text-white">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                            <img alt="User Pic"
                                 src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                 id="profile-image1" class="img-circle img-fluid">
                        </div>
                        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">

                            <div class="container">
                                <h2>{{ user.last_name }} {{ user.first_name }} {{ user.fathers_name }}</h2>
                                <p>на счете <b>{{ user.balance }}</b> рублей</p>


                            </div>
                            <hr>
                            <ul class="container details">

                                <li><p><span class="glyphicon glyphicon-envelope one"
                                             style="width:50px;"></span>{{ user.email }}
                                </p></li>
                                <li><p><span class="glyphicon glyphicon-user one"
                                             style="width:50px;"></span> {{ user.vk_link }}
                                </p></li>
                                <li><p><span class="glyphicon glyphicon-user one"
                                             style="width:50px;"></span> {{ user.instagram_link }}
                                </p></li>
                            </ul>
                            <hr>
                            <div class="col-sm-5 col-xs-6 tital ">Date Of Joining: {{ user.date_joined.date }}</div>
                            <hr>
                            {% if user.passport is not None %}
                                <div class="col-sm-5 col-xs-6 tital ">
                                    Паспорт указан:
                                    {{ user.passport.series }} {{ user.passport.number }} {{ user.passport.who }} {{ user.passport.code_who }} {{ user.passport.when }}
                                </div>

                            {% else %}
                                <div class="col-sm-5 col-xs-6 tital ">Паспорт не указан</div>
                            {% endif %}
                            <hr>
                            <div class="row">
                                <div class="col-4 text-center">
                                    <a href="{% url 'edit' %}" class="btn btn-outline-primary">Изменить данные</a>
                                </div>

                                <div class="col-4 text-center">
                                    <a href="{% url 'top_up' %}" class="btn btn-outline-primary">Пополнить баланс</a>
                                </div>
                                {% if user.passport is not None %}
                                    <div class="col-4 text-center">
                                    <a href="{% url 'get_money' %}" class="btn btn-outline-primary">Занять деньги</a>
                                </div>

                                {% else %}
                                    <div class="col-4 text-center">
                                    <a href="{% url 'passport' %}" class="btn btn-outline-primary">Ввести данные
                                        паспорта</a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <li>
                        {% for friend in user.friends %}
                            <ul>{{ friend.first_name }} {{ friend.last_name }} {{ friend.balance }}</ul>
                            <br>
                        {% endfor %}
                    </li>
                </div>
            </div>
        </div>
    </section>
{% endblock %}