{% extends 'profile.html' %}
{% block profile_content %}

    <section class="page-section" id="borrow">
        <div class="container">
            <h2 class="text-center mt-0">Изменение профиля</h2>
            <hr class="divider my-4"/>
            <form id="edit-form" name="edit-form" action="{% url 'passport' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="id_series">Серия:</label>
                        <input type="text" name="series" class="form-control" maxlength="4" required="" id="id_series">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="id_number">Номер:</label>
                        <input type="text" name="number" class="form-control" maxlength="6" required="" id="id_number">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="id_when">Когда выдан:</label>
                        <input type="text" name="when" class="form-control" required="" id="id_when">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_who">Кем выдан:</label>
                        <textarea name="who" class="form-control" cols="40" rows="10" required=""
                                  id="id_who"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_code_who">Код подразделения:</label>
                        <input type="text" name="code_who" class="form-control" maxlength="10" required=""
                               id="id_code_who">
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="themeBtn4">Подтвердить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}