{% extends "base.html" %}

{% block add_style %}
    {% load static %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <link href="{% static "css/profile.css" %}" rel="stylesheet"/>
    <style>
        .page-section {
            padding: 8rem 0;
            padding-top: 2rem;
        }

        .carousel-nav-icon {
            height: 48px;
            width: 48px;
        }

        .carousel-item {

        .col, .col-sm, .col-md {
            margin: 8px;
            height: 300px;
            background-size: cover;
            background-position: center center;
        }

        }
    </style>
{% endblock %}


{% block title %}{{ user.first_name }} {{ user.last_name }} {% endblock %}

{% block content %}
    <div class="dashboard-container">
        <div class=" col-xs-7 col-sm-7 col-md-7 col-xs-offset-1 col-sm-offset-1 col-md-offset-2">

            <div class="header">
                <div class="header-intro">
                    <div class="header-left">
                        <h2 class="header2"> {{ user.username }}</h2>
                        <span class="header-left-city">{{ user.first_name }} {{ user.last_name }}</span>
                    </div>

                </div>
                <ul class="header-navigation">
                    <li class="navigation-item">
                        <a href="{% url 'profile' %}" class="navigation-item-link">Профиль</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{% url 'edit' %}" class="navigation-item-link">Изменение данных</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{% url 'friends' %}" class="navigation-item-link">Друзья</a>
                    </li>
                    {% if user.passport is None %}
                        <li class="navigation-item">
                            <a href="{% url 'passport' %}" class="navigation-item-link">Добавление паспорта</a>
                        </li>
                    {% endif %}
                    <li class="navigation-item">
                        <a href="{% url 'logout' %}" class="navigation-item-link">Выход</a>
                    </li>
                </ul>
            </div>

            {% block profile_content %}
                <div class="mx-auto">
                <div class="col-sm-10 col-md-10 mt-2 mb-5">
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                            <img alt="User Pic"
                                 src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                 id="profile-image1" class="img-circle img-fluid">
                        </div>
                        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">

                            <div class="container">
                                <h2>{{ user.last_name }} {{ user.first_name }} {{ user.fathers_name }}</h2>
                                <p>на счете <b>{{ user.balance }}</b> рублей</p>


                            </div>
                            <hr>
                            <ul class="container details">

                                <li><p><span class="glyphicon glyphicon-envelope one"
                                             style="width:50px;"></span>{{ user.email }}
                                </p></li>
                                <li><p><span class="glyphicon glyphicon-user one"
                                             style="width:50px;"></span> {{ user.vk_link }}
                                </p></li>
{#                                <li><p><span class="glyphicon glyphicon-user one"#}
{#                                             style="width:50px;"></span> {{ user.instagram_link }}#}
{#                                </p></li>#}
                            </ul>
                            <hr>
                            <div class="col-sm-5 col-xs-6 tital ">Дата
                                регистрации: {{ user.date_joined.date }}</div>
                            {% if user.passport is not None %}
                                <div class="col-sm-5 col-xs-6 tital ">
                                    Паспорт указан:
                                    {{ user.passport.series }} {{ user.passport.number }} {{ user.passport.who }} {{ user.passport.code_who }} {{ user.passport.when }}
                                </div>

                            {% else %}
                                <div class="col-sm-5 col-xs-6 tital ">Паспорт не указан</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-md-10 mb-5">
                    {% if user.passport is not None %}
                        <div class="col-sm-12 pl-0 pr-0 pt-2">
                            <div class="col-xs-4 col-sm-4 col-md-4 mt-lg-2 mt-md-2 mt-sm-2 mt-xs-2">
                                <div class="container-fluid">
                                    <a href="{% url 'top_up' %}" class="themeBtn4">Пополнить баланс</a>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 mt-2">
                                <div class="container-fluid">
                                    {% if user.has_current_debts %}
                                        <a href=
                                                    {% if user.can_pay_debt %}{% url 'return_money' %}{% else %}#{% endif %}
                                           class="themeBtn4" disabled=>Вернуть деньги</a>
                                    {% else %}
                                        <a href=
                                                   {% if user.borrowers.exists and user.is_confirmed %}{% url 'get_money' %}{% else %}#{% endif %}
                                           class="themeBtn4" disabled=>Занять деньги</a>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 mt-2">
                                <div class="container-fluid">
                                    <a href="{% url 'top_down' %}" class="themeBtn4">Вывести деньги</a>
                                </div>
                            </div>

                        </div>
                    {% else %}
                        <div class="col-sm-10 col-md-10 mt-2 mb-5">

                            <h1 class="text-center mb-2">Для того чтобы воспользоваться сервисом введите паспортные
                                данные</h1>
                        </div>
                    {% endif %}

                </div>

            {% endblock %}
            </div>


        </div>
    </div>
{% endblock %}